#newBox

%table
  - @boxes.each do |box|
    %tr
      %td= box.content
      %td= link_to 'Show', box
      %td= link_to 'Edit', edit_box_path(box)
      %td= link_to 'Destroy', box, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Box', new_box_path

:coffeescript
  $ ->
    boxes = new BBBox.Collections.BoxesCollection(#{@boxes.to_json.html_safe})
    boxes.each (box) ->
      $("#newBox").append box.get("content") + "<br>"
